<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>BEC Emanuil</title>
		<link rel="stylesheet" href="../css/styles.css">
		<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	</head>
	<body>

		<div class="mobile-nav" style="display: none">
			<div class="menu-icon">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M4 18h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1zm0-5h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1zM3 7c0 .55.45 1 1 1h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1z"/></svg>
			</div>
			<nav>
				<ul>
					<li>
						<a href="index.html">Home</a>
					</li>
					<li>
						<a href="about.html">About</a>
					</li>
					<li>
						<a href="ourteam.html">Our Team</a>
					</li>
					<li>
						<a href="contact.html">Contact</a>
					</li>
				</ul>
			</nav>
		</div>

		<header>
			<h1>БЕЦ Емануил</h1>
			<a href="index.html">
				<img src="../images/website-logo-noback.png" alt="website-logo" srcset="">
			</a>
			<nav>
				<ul>
					<li>
						<a href="index.html">Начало</a>
					</li>
					<li>
						<a href="about.html">За нас</a>
					</li>
					<li>
						<a href="ourteam.html">Нашите служители</a>
					</li>
					<li>
						<a href="emanuilkids.html">Нашите Емануили</a>
					</li>
					<li>
						<a href="contact.html">Връска с нас</a>
					</li>

				</ul>
			</nav>
		</header>

		<main class="main-home-page">
			<h1>Българска Евангелска Църква <br>
				<i>Емануил</i>
			</h1>
			<p>Нашата мисия е да помогнем на хората да намерят пътя обратно към Бог. <br> Вярваме, че Бог има план за вашия живот и искаме да ви помогнем да го откриете.
			</p>
			<button id="learn-more-button">Научи повече</button>
		</main>

		<footer class="footer">
			<p>Българска Евангелска Църква "Емануил" &copy; 2024</p>
		</footer>

		<!--<section class="about">
			<h2>За нас</h2>
			<p>Нашата църква е място, където хората могат да срещнат Исус, да се включат в общност, която дарява живот, и всеки е добре дошъл. Вярваме в създаването на пространство, където хората могат да имат истински срещи с Христос, да открият своите дарби и да ги използват за Божия слава. Присъединете се към нас за неделните ни служби!</p>
			<button>Learn More</button>
		</section>-->
		<script src="../js/script.js"></script>
	</body>
</html>